body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Mada", "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}

@media screen and (max-width: 425px) {
	body {
		padding: 1em;
	}
	h1,
	nav {
		margin: 0 auto;
	}
}

h1,
h2,
strong {
	color: #333;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}

code,
pre {
	background: #eee;
}

code {
	padding: 2px 4px;
	vertical-align: text-bottom;
}

pre {
	padding: 1em;
}

code,
pre {
	background: #f5f7f9;
	color: #474d5a;
}

pre {
	border-left: 2px solid #69c;
}

.flex-justify {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	align-items: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-item {
	margin-right: 10px;
}

.flex-item:last-child {
	margin-right: 0;
}

@media screen and (max-width: 425px) {
	.img-wrapper {
		margin: 1em auto;
	}
}

p {
	-webkit-flex: 1;
	flex: 1;
}

@media screen and (max-width: 425px) {
	p {
		flex-basis: 100%;
	}	
}



